.food {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #ccc;
}

.name {
  font-size: 3vh;
  font-weight: bold;
  margin: 0 0 0.25rem 0;
}

.desc {
  font-style: italic;
}

.price {
  margin-top: 2rem;
  font-weight: bold;
  color: #ad5502;
  font-size: 1.25rem;
}
